.banner {
  position: relative;
  width: 100%;
  height: 440px;
  background-image: url("../../assets/img/img_banner.jpg");
  background-size: cover;

  &__text-wrap {
    position: absolute;
    max-width: 52%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    padding-left: calc(100% / 12);
    color: #000;
  }

  &__title {
    margin: 0;
    font-size: 46px;
    line-height: 56px;
  }

  &__desc {
    margin: 13px 0 0;
    font-size: 15px;
    line-height: 20px;
  }
}

.section {
  margin-top: 40px;
  padding: 0 5%;

  &__title-wrap {
    padding: 25px 0;
    text-align: center;
  }

  &__title {
    margin: 0;
    font-size: 36px;
    line-height: 40px;
    font-weight: 600;
  }
}

.text-link {
  display: inline-block;
  position: relative;
  padding: 15px 21px 7px 0;

  &:hover {
    .text-link__title {
      &::before {
        opacity: 1;
        transition: all 200ms ease-in-out;
      }

      &::after {
        right: 0;
        transition: all 200ms ease-in-out;
      }
    }
  }

  &__title {
    display: inline-block;
    font-size: 15px;
    color: #0067b8;
    font-weight: 600;
    transition: all 200ms ease-in-out;

    &::before {
      opacity: 0;
      content: '';
      position: absolute;
      bottom: 5px;
      left: 0;
      display: inline-block;
      width: calc(100% - 21px);
      height: 2px;
      background-color: #0067b8;
    }

    &::after {
      content: ">";
      position: absolute;
      display: inline-block;
      right: 5px;
      top: 50%;
      margin-top: 4px;
      transform: translateY(-50%);
      font-size: 16px;
    }
  }

  & + & {
    margin-left: 20px;
  }
}

.service {
  display: flex;
  justify-content: center;
  margin: 44px 0 42px;

  &__list {
    margin: 0 23px;
  }

  &__icon-wrap {
    display: flex;
    align-items: center;
    min-height: 75px;
  }

  &__name {
    display: block;
    margin-top: 12px;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }

  &__etc {
    display: block;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
  }
}

.product {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin-top: 48px;

  &__link {
    &:hover {
      .product__image {
        opacity: .9;
      }
    }
  }

  &__list {
    margin: 0 12px;
    flex: 0 0 calc((100% / 3) - 24px);
  }

  &__image-wrap {
    margin: 0;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__text-wrap {
    padding-right: 12px;
  }

  &__name {
    display: block;
    margin-top: 37px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
  }

  &__desc {
    margin: 0;
    font-size: 15px;

    & + & {
      margin-top: 20px;
    }
  }
}
