$bg-color: #fff;
$font-color: #000;

//임시 확인용 추후 삭제 예정
html {
  overflow-y: auto;
  body {
    background: $bg-color;
    color: $font-color;
  }
}
//header 영역 스타일
.header {
  width: 100%;
  height: 54px;
  &-wrap {
    position: relative;
    width: auto;
    height: 100%;
    padding: 0 5%;
    background-color: #fff;
    z-index: 100;
    .logo {
      position: relative;
      display: inline-block;
      padding: 12px 6px 12px 10px;
      margin-top: 1px;
      width: 137px;
      height: auto;
      &-icon {
        width: 108px;
        height: auto;
      }
    }
  }
}
