<!-- header -->
<header class="header">
  <div class="header-wrap">
    <a href="#" class="logo">
      <img src="assets/img/icon-header_logo.png" alt="microsoft" class="logo-icon">
      <span class="sr-only">Microsoft</span>
    </a>
    <ul>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
      <li>
        <a href=""></a>
      </li>
    </ul>
  </div>
</header>
<!-- //header -->
